.container
{
    width: 600px;
    height: 200px;
    background: white;
    border: 1px solid black;
    margin-left: 0;
    margin-bottom: 20px;
    border-radius: 8px;
    clear: both;
    cursor: pointer;
}

.imgJobOffer{
     width: 200px;
     height: 198px;
}

.textContainer p{
color:black;
margin-bottom: 0px;
}

.btnPair {
    margin-top: 10px;
    display: flex;
    gap: 20px; /* Adjust as needed */
  }

.textContainer{
    float: left;
    width: 65%;
    overflow-wrap: break-word;  
    overflow: hidden;
    color: black;
    height: 200px;
}
.imgContainer{
    float: left;
    width: 25%;
}

@media only screen and (max-width: 1000px) {
    .imgJobOffer{
        display: none;
   }
    .container {
        width: 450px;
    }
    .textContainer{
        width: 100%;
    }
    .imgContainer{
        width:0%;
    }
  }
  @media only screen and (max-width: 1000px) {

    .container {
        width: 350px;
    }
    .textContainer{
        width: 100%;
    }

  }
  @media only screen and (max-width: 768px) {

    .container {
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

  }

  @media only screen and (max-width: 400px) {
  
    .container {
        width: 300px;
        height: 200px;
    }
    .textContainer{
        height: 200px;
    }

}

.h3color {
    color:rgb(100, 173, 185);
}
@media only screen and (max-width: 320px) {
  
    .container {
        width: 250px;
    }
}
@media only screen and (max-width: 260px) {
  
    .container {
        width: 200px;
    }
}