.App{
    background-color:var( --app-bg-color);
}

body, html {
    background-color:var( --app-bg-color);
}

p {
    color:white;
}
.Title {
    font-size: 30px; 
    font-weight: bold; 
    padding: 10px;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .Title {
        font-size: 25px;
    }
  }
@media only screen and (max-width: 500px) {
.Title {
    font-size: 20px;
}
}
@media only screen and (max-width: 400px) {
.Title {
    font-size: 15px;
}
}

hr
{
  border-top: 5px solid white;
}

.btn-primary {
    color:var(--btn-color);
    background-color: var(--btn-primary-bg-color);
    border-color: var( --btn-primary-border-color);
}
.btn-primary:hover,
:not(.btn-check) + .btn:active {
    color: var(--btn-color);
    background-color: var(--btn--primary-hover-bg-color);
    border-color: var( --btn--primary-hover-border-color);
}

.dropdown-item:active {
    background-color: var(--btn-primary-bg-color);
    color: var(--btn-color);
}

:root {
    --btn-color: black;
    --btn-primary-bg-color: yellow;
    --btn-primary-border-color:  black;
    --btn--primary-hover-bg-color: rgb(221, 221, 18);
    --btn--primary-hover-border-color: black;
    --app-bg-color: rgb(80, 122, 129);
}
