.App{
    background-color:rgb(80, 122, 129);
}

p {
    color:white;
}
.Title {
    font-size: 30px; 
    font-weight: bold; 
    padding: 10px;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .Title {
        font-size: 25px;
    }
  }
@media only screen and (max-width: 500px) {
.Title {
    font-size: 20px;
}
}
@media only screen and (max-width: 400px) {
.Title {
    font-size: 15px;
}
}

hr
{
  border-top: 5px solid white;
}